@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Color */
    --bg-primary: #e24e21;
    --bg-secondary: #0f0e02;
    --accent: #ff1313;
    --accent-dark: #70008a;
    --text: #2c2828;
    /* Font size */
    --size: 16px;
    --p-size: 1rem;
}

@font-face {
    font-family: "Quicksand";
    src: url("/Quicksand-VariableFont_wght.ttf");
}

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    margin: 0;
    background-color: var(--bg-primary);
    color: var(--text);
    font-size: var(--size);
    font-family: "Quicksand";
}
/* HEADER */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 7rem;
    background-color: var(--bg-secondary);
    z-index: 2;
    position: fixed;
}
nav ul {
    list-style: none;
    padding-left: 0;
}
nav li {
    padding: 10px;
    font-weight: 700;
    text-transform: uppercase;
}
nav a {
    text-decoration: none;
    color: var(--accent);
}
.logo {
    display: flex;
    align-items: center;
    padding-left: 2rem;
    font-weight: 500;
    font-size: 1.2rem;
    gap: 0.5rem;
}
.logo img {
    width: 4.5rem;
}

/* DROPDOWN MENU */
.dropdown-button {
    border: none;
    background-color: transparent;
}
.hamburger-button div {
    width: 40px;
    height: 6px;
    background-color: var(--accent);
    border-radius: 6px;
    margin: 5px;
}
.hamburger {
    position: relative;
    width: 30px;
    height: 25px;
    display: inline-block;
}
.hamburger-inner {
    display: block;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 30px;
    height: 5px;
    background-color: var(--accent);
    border-radius: 6px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}
.hamburger-inner::before {
    top: 10px;
}
.hamburger-inner::after {
    top: 20px;
}
.hamburger-inner.is-active {
    transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger-inner.is-active::before {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0;
}
.hamburger-inner.is-active::after {
    transform: translate3d(0, -20px, 0) rotate(-90deg);
}
.dropdown {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-top: 12px;
    padding-right: 20px;
    gap: 10px;
    position: absolute;
    right: 0;
    z-index: 1;
}
.hamburger:hover {
    cursor: pointer;
}
.dropdown-content {
    padding: 35px;
    padding-top: 0;
    margin-top: 32px;
    text-align: end;
    background-color: var(--bg-secondary);
    position: fixed;
    right: -100%;
    transition: 0.3s ease-in-out;
    opacity: 0;
    top: 8%;
}
.show {
    opacity: 1;
    right: 0;
}
.menu-desktop {
    display: none;
}
.menu-desktop ul {
    display: flex;
    padding-right: 2rem;
}

main {
    padding: 7rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    color: var(--bg-secondary);
    text-align: center;
    margin-bottom: 0;
}
h2 {
    color: var(--bg-secondary);
    text-align: center;
    text-transform: lowercase;
    font-size: 1.2rem;
}

button,
input[type="submit"] {
    padding: 5px;
    background-color: var(--accent);
    margin: 10px;
}

@media screen and (min-width: 750px) {
    .dropdown {
        display: none;
    }
    .menu-desktop {
        display: flex;
    }
}
